
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul>
    <li>@Html.ActionLink("Create", "InsertarDepartamento", "Departamentos")</li>
    <li>@Html.ActionLink("Update", "ModificarDepartamento", "Departamentos")</li>
</ul>