
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<ul>
    <li>@Html.ActionLink("Contenido Content", "ContenidoContent", "Contenidos")</li>
    <li>@Html.ActionLink("JavaScript", "ContenidoJavaScript", "Contenidos")</li>
    <li>@Html.ActionLink("File", "ContenidoFile", "Contenidos")</li>
    <li>@Html.ActionLink("Json", "ContenidoJson", "Contenidos")</li>
</ul>

